.about {
  padding-bottom: 0;
}

.about__list {
  display: flex;
  text-align: left;
}

.about__item {
  width: 270px;
  margin-left: var(--element-gap);

  &:first-child {
    margin-left: 0px;
  }

  &::before {
    display: block;
    content: '';
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
}

.about__subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.about__text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  color: var(--main-text-color);
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
