.header {
  background-color: var(--main-color);
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    position: relative;
  }
}

.menu {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header__nav {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 22px 16px 15px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  // @media screen and (max-width: 767px) {
  //   margin-bottom: 306px;
  // }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 94px;
  }
}

.site-nav__link {
  font-weight: 500;
  line-height: 1.14;
  padding-top: 34px;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    font-size: 40px;
  }
  @media screen and (min-width: 768px) {
    position: relative;
    display: block;
  }
}

.site-nav__link--current {
  @media screen and (min-width: 768px) {
    color: var(--accent-color);

    &::after {
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}

.site-nav__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 51px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 53px;
  }
}

.header__contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    justify-content: left;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
  }
}
.contacts__item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.contacts__link {
  @extend %flex-align;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  @include transition(background-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    padding-bottom: 10px;
    margin-left: 80px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  @media screen and (min-width: 767px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }

  fill: var(--main-text-color);
  @include transition(fill);

  .contacts__link:hover &,
  .contacts__link:hover & {
    fill: var(--accent-color);
  }
}
