.hero {
  background: var(--dark-background-color);
  text-align: center;

  @media screen and (max-width: 767px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  max-width: 1600px;
  margin: 0 auto;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero_mob.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/hero_mob@2x.jpg);
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 480px) {
    // max-width: 100%;
  }

  @media screen and (min-width: 768px) {
    // max-width: 100%;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero_tab.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero_tab@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero_desktop.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero_desktop@2x.jpg);
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-color);

  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.62;
  }
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}
